<h3>About Protein Cavity Explorer:</h3>
<p>
  Protein Cavity Explorer is a web tool that allows a user to input any protein ID and explore the cavities that the protein possesses. 
</p>

<p>Currently there is a visionalization of the protein structure where you can sselect a pocket on protein and the residues that exist within that pocket will go red and become spheres. To the right of the structure you can also select multiple pockets and compare the types of residues that exist within all the pockets selected. </p> 
</a>
<p>At the moment it only works for proteins in<a href="/proteinlist.html"> this list</a>. And only for A chains.</p>
