<div class="my-container">
<h3>About Protein Cavity Explorer:</h3>
<p>
  Protein Cavity Explorer is a web tool that allows a user to input any protein ID and explore the cavities that the protein possesses. 
</p>
<p>Protein Cavity Explorer was developed by as a Senior Project at Western Washington University in Fall 2017 under the advisement of Filip Jagodzinski.</p>
<p>
Protein Cavity Explorer uses PV(Protein Viewer) and D3 to create histograms. The site was done in Angular 5. 
</p>

<p>ProCavEx displays a visualization of the protein structure where you can select a pocket of the protein's A chain and see the residues that exist within that pocket. To the right of the structure you can also select multiple pockets and compare the types of residues that exist within all the pockets selected. </p> 
<p>At the moment it only works for proteins in<a router="/allPIDs"> this list</a>.</p>
</div>
