
<!-- <svg [attr.height]="height" [attr.width]="width">
  <g [attr.transform]="transform">
    <rect
      *ngFor="let item of data"
      [attr.height]="barHeights[i]"
      [attr.width]="barWidth"
      [attr.x]="xCoordinates[i]"
      [attr.y]="0"
      fill="skyblue">
    </rect>
  </g>
</svg> -->
<div>
  <div *ngIf="barChartData.length > 0" style="display: block">
    <canvas baseChart
	    height="500" width="1000"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
