.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.navbar-brand {
    padding: 0px;
}

.navbar-default {
    background-color: #2089cb;
    height:75px;
    padding:10px;
}
.navbar-nav {
    margin-left: 15px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
    /*margin-top: 20px;*/
    font-size: 1.5em;
}
.navbar-header {
    border-right: 1px solid white;
    padding-right: 15px;
}