<div class="container">
  <div class="row">
    <div class = "Absolute-Center Center-Container">
      <div  class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

        <form (ngSubmit)="submitPid(f)" #f="ngForm">
          <div class = "pid">
            <div class="form-group">
              <p><em>Begin a new experiment:</em></p>
              <label for="pid">Enter a protein ID</label>
              <input type="text"
               id="pid" class="form-control" ngModel name="pid" pattern="^([1-9]{1})([a-zA-Z0-9]{3})$">
               <span class="help-block" style="color:red" *ngIf="!f.valid"
               >Please use valid PID format (one digit followed by three alpha-numeric characters).</span>
 	       <span class="pidExits" style="color:red" *ngIf="!pidExists && (!f.touched && submittedForm) "> not an RCSB recognized pid</span>
            </div>
            <button class="btn btn-default" type="submit">Submit</button>

          </div>
        </form>

        <form (ngSubmit)="submitExperimentId(f2)" #f2="ngForm">
          <div class = "experimentId">
            <div class="form-group">
              <p><em>Or resume a prior experiment:</em></p>
              <label for="Experiment id">Experiment ID</label>
              <input type="text" id="experimentId" class="form-control" ngModel name="experimentId" pattern="^([1-9]{1})([a-zA-Z0-9]{3})([a-fA-f0-9]{16})$">
              <span class="help-block" style="color:red" *ngIf="!f2.valid"
		    >Try something else.</span>
	           <span class="experimentExists" style="color:red" *ngIf="(!f.touched && submittedForm && this.checkIfExperimentExists()) "></span>


            </div>
            <button class="btn btn-default" type="submit">go</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
