<div class="container">
  <div class="row">
    <div class = "Absolute-Center Center-Container">
    <div  class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form> (ngSubmit) = ""
        <div class = "pid">
          <div class="form-group">
            <p><em>Begin a new experiment:</em></p>
            <label for="pid">Enter a protein ID</label>
            <input type="text" id="pid" class="form-control">
          </div>
          <button class="btn btn-default" type="button"
          #pidbutton
          (click)="checkpid(pidbutton)"=>submit</button>
        </div>

        <div class = "experimentId">
          <div class="form-group">
            <p><em>Or resume a prior experiment:</em></p>
            <label for="Experiment id">Experiment ID</label>
            <input type="text" id="experimentId" class="form-control">
          </div>
          <button class="btn btn-default" type="button">go</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  </div>
