/* You can add global styles to this file, and also import other style files */

footer {
    text-align: center;
    background-color: #2089cb;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}